#optionSelect{
    display: flex;
    justify-content: center;
}

.form {
    width:30%; 
    height:50%; 
    vertical-align:auto;
    background-color:white; 
    margin:0 auto;
}

#loginBtn{
    background-color: #d1363a;
    border-color: #d1363a;
}

#text{
    color: #d1363a;
}