.cardContainer{
    margin-left: auto;
    margin-right: auto;
}

.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}

.card-img-bottom{
    width:100%;
    border-bottom-right-radius:calc(.25rem - 1px);
    border-bottom-left-radius:calc(.25rem - 1px)
}

.card>hr{
    margin-right:0;margin-left:0
}
.card>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
}
.card>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem;
}
.card-body{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:1.25rem;
}
.card-title{
    margin-bottom:.75rem;
}
.card-subtitle{
    margin-top:-.375rem;
    margin-bottom:0;
}
.card-text:last-child{
    margin-bottom:0;
}
.card-link:hover{text-decoration:none}
.card-link+.card-link{margin-left:1.25rem}
.card-header{padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125);
}

#link{
    text-decoration: none;
    display: block;
}

#link:hover{
    color: #67c27c;
}

#wrapper {
    display: grid;
    grid-template-columns: 33% 33% 34%;

}

#wrapper #cardDiv div{
    margin-right: auto;
    margin-left: auto;

}

#wrapper #cardDiv{
    padding: 10px;
}

.wrapper {
    min-height: 100%;
    background-color: lightgray;
    margin-bottom: -50px;
  }
  
.footer,
.push {
    height: 50px;
}
  

#inputSection{
    text-align: center;
    padding-top: 2.5%;
}

#searchbar{
    display: flex;
    /* width: 50%; */
    justify-content: center;


}