<html>
    <head>
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/index.js"></script>
        <!-- <script src="/static/fonts.css"></script>
        <script src="/static/riotgames.css"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://s.lolstatic.com/awesomefonts/1.0.0/lol-fonts.css">
        <link rel="stylesheet" href="https://static.developer.riotgames.com/css/new.1.6.6.css">
        <title>LeagueData</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div class="wrapper">
            {% block navbar %}
            <div class="navbar bg-color1">
                <div class="navbar-logo">
                    <a href="/"><img src="https://static.developer.riotgames.com/img/logo.png"></a>
                </div>
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-menu">
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/">2</a></li>
                        <li><a href="/">3</a></li>
                        <li><a href="/">4</a></li>
                    </ul>
                </div>
            </div>
           
            {% endblock %}

            <div id="inputSection">
                
                {% block content %}
                default content
                {% endblock %}

                <div class="push"></div>
            </div>
        </div>
        {% block footer %}
        <footer class="footer">
            LeagueData isn't endorsed by Riot Games and doesn't reflect the views or opinions of 
            Riot Games or anyone officially involved in producing or managing League of Legends. <br>
            League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, 
            Inc. League of Legends © Riot Games, Inc.
        </footer>  
        {% endblock %}
    </body>
</html>