{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body_attribs %} onload = "getChampions()"{% endblock body_attribs %}
{% block champions %} class="active"  {% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/champions.css">
<script src="/static/champions.js"></script>
{% endblock styles%}

{% block content %}
<form action="/champions" class="form" method="post" role="form">
	{{ form.csrf_token() }}
	<div id="optionSelect">
		<div>
			<h1 id = "text" class="h3 mb-3 font-weight-normal">Add Your Favorite Champions</h1>
			<p>{{message}}</p>
			{{ wtf.form_field(form.add_champion, class='form-control', placeholder='Champion Name') }}
			{{ wtf.form_field(form.add_btn, onclick="getChampions()", class='btn btn-primary btn-block', placeholder='Champion Name') }}
			{{ wtf.form_field(form.remove_btn, onclick="getChampions()", class='btn btn-primary btn-block', placeholder='Champion Name') }}

			<!-- <button id="addChampBtn" type=submit class='btn btn-primary btn-block'>Add Champion</button> <br>
			<button id="addChampBtn" type=submit class='btn btn-primary btn-block'>Add Champion</button> <br> -->
		</div>
					
	</div>
</form>
<br>
<br>
<div class="cardContainer" id="wrapper"></div>
{% endblock %}