{% extends "base.html" %}
{% block home %} class="active"  {% endblock %}
{% block styles %}
        {{super()}}
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/index.js"></script>
{% endblock styles %}
{% block content %}

<div id="inputSection">
    <h1 id="title">LeagueData</h1>

    <div id="optionSelect">
        <div>
            <input type="text" class="form-control" id="username" value="" autofocus="autofocus" placeholder="Summoner Name">
        </div>
        
        <div>
            <select class="form-control" id="region">
            <option value="na1">NA</option>
            <!-- <option value="euw1">EUW</option>
            <option value="eun1">EUN</option> -->
            </select>
        </div>
        <input id="playerStatsBtn" type="submit" class="btn btn-info" onclick="getPlayerStats()" value="Search">
    </div>

    <br>

    <div>  
        <table id = "leagueDataTable" class="table table-light"></table>
    </div>

</div>
{% endblock %}