{% extends "base.html" %}
{% block login %} class="active" {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/login.css">
<script src="/static/login.js"></script>
{% endblock %}

{% block content %}
<form class="form-signin" >
	<div id="optionSelect">
		<div>
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> <br>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> <br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> <br>
			<h1 class="h3 mb-3 font-weight-normal"><a href="/signup">Create an Account?</a> </h1>
		</div>
					
	</div>
</form>
{% endblock %}