{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block login %} class="active" {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/login.css">
<script src="/static/login.js"></script>
{% endblock styles%}

{% block content %}
<form action="/login" class="form" method="post" role="form">
	{{ form.csrf_token() }}
	<div id="optionSelect">
		<div>
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
			<p>{{message}}</p>
			{{ wtf.form_field(form.email_addr, class='form-control', placeholder='Enter your Email') }}
			{{ wtf.form_field(form.password, class='form-control', placeholder='Enter Your Password', minlength=5) }}
			<button id="loginBtn" type=submit class='btn btn-primary btn-block'>Log In</button> <br>
			<h1  class="h3 mb-3 font-weight-normal">
				<a id="text" href="/signup">Create an Account?</a>
			</h1>
		</div>
					
	</div>
</form>
{% endblock %}