{% extends "base.html" %}
{% block body_attribs %} onload = "getNews()"{% endblock body_attribs %}
{% block news %} class="active"  {% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/news.css">
<script src="/static/news.js"></script>
{% endblock styles%}

{% block content %}
<div id="searchbar" class="active-cyan-3 active-cyan-4 mb-4">
    <div>
        <input id="search" onkeydown="test()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
</div>
<div class="cardContainer" id="wrapper"></div>
{% endblock %}