{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/signup.css">
<script src="/static/signup.js"></script>
{% endblock styles%}

{% block content %}
<form action="/signup" class="form" method="post" role="form">
	{{ form.csrf_token() }}
	<div id="optionSelect">
		<div>
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
			<p>{{message}}</p>
			{{ wtf.form_field(form.email_addr, class='form-control', placeholder='Enter your Email') }}
			{{ wtf.form_field(form.summoner, class='form-control', placeholder='Enter your summoner') }}
			{{ wtf.form_field(form.password, class='form-control', placeholder='Enter Your Password', minlength=5) }}
			{{ wtf.form_field(form.confirm, class='form-control', placeholder='Re-Enter Your Password', minlength=5) }}
			<button type=submit class='btn btn-primary btn-block'>Sign up</button> <br>
		</div>
					
	</div>
</form>
{% endblock %}