{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/signup.css">
<script src="/static/signup.js"></script>
{% endblock %}

{% block content %}

<!-- <div style="width:800px; height:800px; vertical-align:auto ;background-color:white; margin:0 auto;">
        centered content
</div> -->
<form class="form-signin" >
	<div id="optionSelect">
		<div>
		    <h1 class="h3 mb-3 font-weight-normal">Create an Account you bitch</h1>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> <br>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> <br>
                <input type="password" id="reenterpassword" class="form-control" placeholder="Confirm Password" required=""> <br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button> <br>
		</div>			
	</div>
</form>
{% endblock %}